/vendor
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/bootstrap/cache/*
/public/storage
/node_modules
frontend/node_modules
frontend/.env
frontend/.nuxt
frontend/.output
frontend/.data
frontend/dist
frontend/dev-server*.log
